import groovy.json.JsonSlurper

def jsonSlurper = new JsonSlurper()
def configFile = new File("${launchDir}/params.json")
def json = jsonSlurper.parse(configFile)

params {
	account = json.account_name
	email = json.email
	outdir = json.outdir
	data_csv = json.data_csv
	reference = json.reference
	apptainer = json.apptainer
	temp_dir = json.temp_files
	star_index = json.star_index
	rrna = json.rrna
	bg_file = json.bg_file
	bam_present = json.bam_present
	trim = json.trim
}

includeConfig "subworkflows/alignment/alignment.config"
includeConfig "subworkflows/stats/stats.config"
includeConfig "subworkflows/diffexp/diffexp.config"

profiles {

	standard {
		process {
			executor = 'local'
		}
	}

	slurm {
		process {
			executor = 'slurm'
		}
	}

}
