import groovy.json.JsonSlurper

def jsonSlurper = new JsonSlurper()
def configFile = new File("${launchDir}/params.json")
def json = jsonSlurper.parse(configFile)

params {
	account = json.account_name
	email = json.email
	reference = json.reference
	apptainer = json.apptainer
	temp_dir = json.temp_files
	star_index = json.star_index
	rrna = json.rrna
}

profiles {

	base {
		withLabel: 'fastqc' {
			memory = 1.GB
			time = '40m'
			cpus = 2
		}

		withLabel: 'trim_galore' {
			memory = 16.GB
			time = '3h'
			cpus = 2
		}

		withLabel: 'STAR' {
			memory = 16.GB
			time = '8h'
			cpus = 4

		}

		withLabel: 'markdup' {
			memory = 32.GB
			time = '4h'
			cpus = 4
		}

		withLabel: 'bbpslit' {
			memory = 16.GB
			time = '3h'
			cpus = 10
		}

		withLabel: 'rnaseqc' {
			memory = 3.GB
			time = '30m'
			cpus = 2
		}

		withLabel: 'samtools' {
			memory = 1.GB
			time = '30m'
			cpus = 1
		}

		withLabel: 'bedtools' {
			memory = 1.GB
			time = '30m'
			cpus = 1
		}

		withLabel: 'bigwig' {
			memory = 1.GB
			time = '30m'
			cpus = 2
		}

		withLabel: 'stringtie' {
			memory = 2.GB
			time = '3h'
			cpus = 2
		}

		withLabel: 'qualimap' {
			memory = 5.GB
			time = '3h'
			cpus = 8
		}
	}

	standard {
		executor = 'local'
	}

	slurm {
		process {
			executor = 'slurm'

			withLabel: 'fastqc' {
				clusterOptions = "--account=${params.account} --output=fastqc.out --mail-type=END --mail-user=${params.email} --job-name=fastqc"	
			}

			withLabel: 'trim_galore' {
				clusterOptions = "--account=${params.account} --output=trim.out --mail-type=END --mail-user=${params.email} --job-name=trim"
			}

			withLabel: 'STAR' {
				clusterOptions = "--account=${params.account} --output=star.out --mail-type=END --mail-user=${params.email} --job-name=star"
			}

			withLabel: 'markdup' {
				clusterOptions = "--account=${params.account} --output=markdup.out --mail-type=END --mail-user=${params.email} --job-name=markdup"
			}

			withLabel: 'bqsr' {
				clusterOptions = "--account=${params.account} --output=bqsr.out --mail-type=END --mail-user=${params.email} --job-name=bqsr"
			}

			withLabel: 'rnaseqc' {
				clusterOptions = "--account=${params.account} --output=rnaseqc.out --mail-type=END --mail-user=${params.email} --job-name=rnaseqc"
			}

			withLabel: 'samtools' {
				clusterOptions = "--account=${params.account} --output=samtools.out --mail-type=END --mail-user=${params.email} --job-name=samtools"
			}

			withLabel: 'bedtools' {
				clusterOptions = "--account=${params.account} --output=bedtools.out --mail-type=END --mail-user=${params.email} --job-name=bedtools"
			}

			withLabel: 'bigwig' {
				clusterOptions = "--account=${params.account} --output=bigwig.out --mail-type=END --mail-user=${params.email} --job-name=bigwig"
			}

			withLabel: 'stringtie' {
				clusterOptions = "--account=${params.account} --output=stringtie.out --mail-type=END --mail-user=${params.email} --job-name=stringtie"
			}
			
			withLabel: 'bbpslit' {
				clusterOptions = "--account=${params.account} --output=bbpslit.out --mail-type=END --mail-user=${params.email} --job-name=bbpslit"
			}

			withLabel: 'qualimap' {
				clusterOptions = "--account=${params.account} --output=qualimap.out --mail-type=END --mail-user=${params.email} --job-name=qualimap"
			}
		}
	}

}
