
process {

        executor = "slurm"

        withLabel: 'fastqc' {
                memory = "1GB"
                time = "20m"
                clusterOptions = '--account=aafc_aac --output=fastqc.out --cpus-per-task=1 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=fastqc'

        }

        withLabel: 'trimmomatic' {
                memory = "1GB"
                time = "1h"
                clusterOptions = '--account=aafc_aac --output=trim.out --cpus-per-task=4 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=trim'

        }

	withLabel: 'bbsplit' {
                memory = "16GB"
                time = "3h"
                clusterOptions = '--account=aafc_aac --output=bbsplit.out --cpus-per-task=28 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=norrna'

        }

	withLabel: 'STAR' {
		memory = "16GB"
		time = "8h"
		clusterOptions = '--account=aafc_aac --output=star.out --cpus-per-task=4 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=align'

	}


	withLabel: 'STAR_REF' {

		memory = "64GB"
		time = "3h"
		clusterOptions = '--account=aafc_aac --output=star_ref.out --cpus-per-task=4 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=star_ref'

}

	
	withLabel: 'samtools' {

		memory = "1GB"
                time = "20m"
                clusterOptions = '--account=aafc_aac --output=samtools.out --cpus-per-task=1 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=samtools'

	}



	withLabel: 'featurecounts' {
		memory = "10GB"
		time = "4h"
		clusterOptions = '--account=aafc_aac --output=counts.out --cpus-per-task=2 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=counts'

	}

	withLabel: 'markdup' {
		memory = "32GB"
		time = "1h"
		clusterOptions = '--account=aafc_aac --output=markdup.out --cpus-per-task=4 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=markdup'
	}
	
	withLabel: 'bedtools' {
	
		memory = "1GB"
                time = "20m"
                clusterOptions = '--account=aafc_aac --output=bedtools.out --cpus-per-task=1 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=bedtools'
	
	}
	
	withLabel: 'bigwig' {
		memory = "1GB"
                time = "20m"
                clusterOptions = '--account=aafc_aac --output=bigwig.out --cpus-per-task=2 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=bigwig'

	}

	withLabel: 'stringtie' {

		memory = "2GB"
                time = "3h"
                clusterOptions = '--account=aafc_aac --output=stringtie.out --cpus-per-task=2 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=stringtie'

	}

	withLabel: 'qualimap' {

		memory = "5GB"
                time = "3h"
                clusterOptions = '--account=aafc_aac --output=qualimap.out --cpus-per-task=8 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=qualimap'
	
	}

	withLabel: 'DE' {

                memory = "16GB"
                time = "3h"
                clusterOptions = '--account=aafc_aac --output=diffexp.out --cpus-per-task=8 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=diffexp'

        }
	
	withLabel: 'prepDE' {
                memory = "1GB"
                time = "20m"
                clusterOptions = '--account=aafc_aac --output=prepDE.out --cpus-per-task=2 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=prepDE'
	}


	withLabel: 'rnaseqc' {
                memory = "3GB"
                time = "20m"
                clusterOptions = '--account=aafc_aac --output=rnaseqc.out --cpus-per-task=2 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=rnaseqc'

	}

	withLabel: 'multiqc' {
                memory = "2GB"
                time = "20m"
                clusterOptions = '--account=aafc_aac --output=multiqc.out --cpus-per-task=2 --mail-type=END --mail-user=mohamad.elian@agr.gc.ca,mohamadelian1996@gmail.com --job-name=multiqc'

        }

}

params {

reads = "${launchDir}/raw_files/*_R{1,2}.fastq.gz"
outdir = "${launchDir}"
species = "soybean"
refversion = "version2"

}
