profiles {

	base {
		process {
			withLabel: 'fastqc' {
				memory = 1.GB
				time = '40m'
				cpus = 2
			}

			withLabel: 'trim_galore' {
				memory = 16.GB
				time = '3h'
				cpus = 2
			}

			withLabel: 'STAR' {
				memory = 16.GB
				time = '8h'
				cpus = 4

			}

			withLabel: 'markdup' {
				memory = 32.GB
				time = '4h'
				cpus = 4
			}

			withLabel: 'bbpslit' {
				memory = 16.GB
				time = '3h'
				cpus = 10
			}
		}
	}

	slurm {
		process {

			withLabel: 'fastqc' {
				clusterOptions = "--account=${params.account} --output=fastqc.out --mail-type=END --mail-user=${params.email} --job-name=fastqc"	
			}

			withLabel: 'trim_galore' {
				clusterOptions = "--account=${params.account} --output=trim.out --mail-type=END --mail-user=${params.email} --job-name=trim"
			}

			withLabel: 'STAR' {
				clusterOptions = "--account=${params.account} --output=star.out --mail-type=END --mail-user=${params.email} --job-name=star"
			}

			withLabel: 'markdup' {
				clusterOptions = "--account=${params.account} --output=markdup.out --mail-type=END --mail-user=${params.email} --job-name=markdup"
			}
			
			withLabel: 'bbpslit' {
				clusterOptions = "--account=${params.account} --output=bbpslit.out --mail-type=END --mail-user=${params.email} --job-name=bbpslit"
			}

		}
	}

}
