profiles {

	base {
		process {

			withLabel: 'rnaseqc' {
				memory = 3.GB
				time = '30m'
				cpus = 2
			}

			withLabel: 'samtools' {
				memory = 1.GB
				time = '30m'
				cpus = 1
			}

			withLabel: 'bedtools' {
				memory = 1.GB
				time = '30m'
				cpus = 1
			}

			withLabel: 'bigwig' {
				memory = 1.GB
				time = '30m'
				cpus = 2
			}

			withLabel: 'qualimap' {
				memory = 5.GB
				time = '3h'
				cpus = 8
			}
		}
	}

	slurm {
		process {

			withLabel: 'rnaseqc' {
				clusterOptions = "--account=${params.account} --output=rnaseqc.out --mail-type=END --mail-user=${params.email} --job-name=rnaseqc"
			}

			withLabel: 'samtools' {
				clusterOptions = "--account=${params.account} --output=samtools.out --mail-type=END --mail-user=${params.email} --job-name=samtools"
			}

			withLabel: 'bedtools' {
				clusterOptions = "--account=${params.account} --output=bedtools.out --mail-type=END --mail-user=${params.email} --job-name=bedtools"
			}

			withLabel: 'bigwig' {
				clusterOptions = "--account=${params.account} --output=bigwig.out --mail-type=END --mail-user=${params.email} --job-name=bigwig"
			}

			withLabel: 'qualimap' {
				clusterOptions = "--account=${params.account} --output=qualimap.out --mail-type=END --mail-user=${params.email} --job-name=qualimap"
			}
		}
	}

}
