profiles {

	base {
		process {

			withLabel: 'stringtie' {
				memory = 2.GB
				time = '3h'
				cpus = 2
			}

            withLabel: 'DE' {
                memory = 32.GB
				time = '3h'
				cpus = 3
            }

            withLabel: 'featurecounts' {
                memory = 10.GB
				time = '4h'
				cpus = 2
            }

		}
	}

	slurm {
		process {

			withLabel: 'stringtie' {
				clusterOptions = "--account=${params.account} --output=stringtie.out --mail-type=END --mail-user=${params.email} --job-name=stringtie"
			}

            withLabel: 'DE' {
				clusterOptions = "--account=${params.account} --output=DE.out --mail-type=END --mail-user=${params.email} --job-name=DE"
			}

            withLabel: 'featurecounts' {
				clusterOptions = "--account=${params.account} --output=featurecounts.out --mail-type=END --mail-user=${params.email} --job-name=featurecounts"
			}
			
		}
	}

}